.header-section{
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: blue;
	color: white;
}
.inputError{
	border-color: red !important;
}
.form-group{
	margin-top: 10px;
}
.result_item{
	background: orange;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
}